<div class="row margin-top-xs" *ngFor="let imgConfig of imgList; index as i">
  <div class="bb-card col-lg-6">
    <div class="bb-card__header">
      <h1 class="bb-card__title">Image{{i+1}}</h1>
    </div>
    <div class="bb-card__body">
      <img src="https://ik.imagekit.io/ith29bzjr/{{imgConfig.name}}" width="400" height="400" alt="Image"/>
    </div>
    <div class="bb-card__footer">
        Image rendering is not optimised here
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
</div>

