<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLinkActive="active" routerLink="/ngoptimized-img-list">NgOptimized Image List</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/ngoptimized-img-catalog">NgOptimized Image Catalog</a>
        <a class="nav-link"routerLinkActive="active" routerLink="/native-img-catalog">Native Image Catalog</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid margin-top-5">
      <router-outlet></router-outlet>
</div>


