<div class="row">
  <div class="col-sm-6">
    <div
      class="card margin-bottom-sm"
      *ngFor="let imgConfig of imgList; index as i"
    >
      <div class="card-body">
        <img
          [ngSrc]="imgConfig.name"
          width="600"
          height="500"
          alt="Image"
          [priority]="i == 0"
        />
        <p class="card-text">
          Image rendering is optimised here Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
